/*********************** html et body ************************************/
/*      font-size =  10px :  taille de police de base du document
        font-size 51 = 5.2rem = .appliName h1 (titre de la landing page)
        font-size 36 = 3.6rem = .allgamersHeader h1 (titre du bandeau des autres pages)
        font-size 32 = 3.2rem = h2, .buttonLandingPage (titre de la page)
        font-size 25 = 2.5rem = 
        font-size 20 = 2rem = h3, button, input, select, textarea, label, .navigationButton, .retry (mauvais alias ou mot de passe)
        font-size 16.5  = 1.7rem = h4, .passwordForgotten, .gamesForm button,
        font-size 12 = 1.2rem = h5, .time

        orange : #EC9B33              orange pâle : #FDD863
        bleu : #003598                bleu pâle : #6E9FF7
        rouge : #C93A54               rouge pâle : #D8768D
        gris : #F4F5F6
        
        */
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
html, body {
    box-sizing: border-box;     /* modèle alternatif : le navigateur doit considérer la bordure comme la zone d'effet de w et h et non le contenu*/
    margin: 0;                  /* marge exterieure*/
    padding: 0;                 /* marge intérieure*/
    width: 100%;                /* rempli tout le container parent */
    height: 100%;
}

html {
    font-family: 'Commissioner';
    font-size: 10px;            /* taille de police de base du document*/
}
body {
    width: 430px;
    height: 932px;
    margin: 0 auto;
    display: flex;              /* l'élément devient flexible, il s'étire pour occuper toute la hauteur*/
    flex-direction: column;
    border: 10px solid black; /*contours dessinés au dessus de titlePage (enlève les pointes du rectangle orange)*/
    background-color:#F4F5F6;
    border-radius: 20px;        /* arrondir les angles*/
    overflow: hidden;           /* éviter le débordement du contenu hors des limites du body */
    position: relative;         /* pour le positionnement de l'image */
}
/*'''''''''''''''''''' image dans le coin supérieur droit */
body::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 75%; /* Largeur de l'image */
    height: 40%; /* Hauteur de l'image */
    background-image: url('pictures/corner.png'); /* URL de l'image */
    background-size: contain; /* Ajuste la taille de l'image */
    background-repeat: no-repeat; /* Empêche la répétition */
    z-index: 1; /* S'assurer que l'image est derrière le texte du header */
    border-radius: 0 10px 0 0;       /* arrondir en haut */
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/******************************************** police de caractères ******************************************/
h2 {
    font-family: 'Commissioner';
    font-size: 3.2rem;
    padding-bottom: 30px;
    margin: 0;
}
h3 {
    font-family: 'Commissioner';
    font-size : 2rem;
    font-weight: 500; 
}
h4 ,
.dataGamesSelected .text {
    font-family: 'Commissioner';
    font-size : 1.7rem;
    font-weight: 400;
}
h5 {
    font-family: 'Commissioner';
    font-size : 1.2rem;
}
.retry {
    font-family: 'Commissioner';
    font-size : 2rem;
    color:#CA3D5C;
    font-weight:bold;
}
       
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/******************************************** header ******************************************/
header {
    flex-shrink: 0;                 /* ne pas réduire la taille du header */
    height: 140px;
    background-color: #F4F5F6; 
    display: flex; 
    flex-direction: column;
    border-radius: 10px 10px 0 0;   /* arrondir en haut */
    position: relative;             /* pour le positionnement du texte */
}
/*'''''''''''''''''''' le bandeau de l'heure et des icônes */
.headband {
    position: sticky;                   /* Maintient l'élément en haut lors du scroll */
    top: 0;
    z-index: 1000;                      /* Priorité d'affichage au-dessus des autres éléments */
    padding: 10px 20px 0px 20px;        /* bordure de 10px en haut et de 20px sur les côtés*/
    display: flex;
    justify-content: space-between;     /* Sépare l'heure à gauche et les icônes à droite */
    align-items: center;
    border-radius: 10px 10px 0 0;       /* arrondir en haut */
}
.time {
    font-family: 'Commissioner';
    font-size: 1.2rem;
    font-weight: bold;
}
/* lien vers les icons: https://icones8.fr/icons/set/wifi?utm_source=chatgptcom */
.icons img {
    height: 18px;
    margin-left: 10px;  /* Espacement entre les icônes */
}
/*'''''''''''''''''''' titre */
.allgamersHeader {
    width: 100%;
    height: 100%;
    z-index: 1000;                      /* Priorité d'affichage au-dessus des autres éléments */
    display: flex;
    align-items: center;
}
/*'''''''''''''''''''' tous les enfants de .allgamersHeader*/
.allgamersHeader > * {
    margin-left: 20px;
}
.allgamersHeader h1 {
    font-family: 'Commissioner';
    font-size: 3.6rem;      /*un rem est égale à la taille de la police sur html (10px)*/
    font-weight: bold;
    color: black;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);   /* x, y, blur-radius, color*/
}
.allgamersHeader form button {
    width: 56px;
    height: 56px;
    border: 5px solid #CA3D5C; /* Bordure simple */
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);   /* x, y, blur-radius, spread-radius, color*/
    border-radius: 50px; /* Coins arrondis */
}
.allgamersHeader form button img {
    width: 35px;
    height: 35px;
}
.titleAlone {
    padding-left: 40px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/******************************************** main  ******************************************/
main {
    flex-grow: 1;               /* occuper l'espace disponible */
    overflow-y: scroll;         /* activer le défilement vertical */
    scrollbar-width: none;      /* Pour les navigateurs compatibles (Firefox) */
    -ms-overflow-style: none;   /* Pour Internet Explorer et Edge */
    background-color: #F4F5F6; 
    display: flex; 
    flex-direction: column;
    align-items: center;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/********************************* landing page */
.orangeColor {
    background-color: #F1A33B; /* couleur du fond de la landing page mise après la couleur du fond des autres pages dans main */
}
.appliName {
    font-family: 'Commissioner';
    width: 100%;
    height: 10%;
    position: relative;
    z-index: 5;
}
.appliName h1 {
    text-align: center;     /* centre horizontalement le texte*/
    width: 100%;
    font-family: 'Commissioner';
    font-size: 5.2rem;      /*un rem est égale à la taille de la police sur html (10px)*/
    font-weight: bold;
    color: black;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);   /* x, y, blur-radius, color*/
    display: flex;              /* les éléments de html et body deviennent flexibles, ils s'étirent pour occuper toute la hauteur*/
    flex-direction: column;
}
.logoArea {
    height: 45%;
    display: flex; 
    justify-content: center;
    align-items: end;
}
.logoArea img {
    width: 60%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);   /* x, y, blur-radius, color*/
    border-radius: 30px;
}
.buttonsArea {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Aligne les boutons au centre verticalement */
    align-items: center;
}
.buttonLandingPage {
    width: 300px;
    height: 56px;
    background-color: #F1A33B; 
    border: solid 3px black;
    border-radius: 40px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);   /* x, y, blur-radius, color*/
    font-family: 'Commissioner';
    color: black;
    font-size: 3.2rem;
    font-weight: 800;               /* bold = 700*/
    text-align: center;             /* centre horizontalement le texte*/
    margin: 30px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/********************************************* formulaires */
.userForm, 
.gamesForm {
    z-index: 4;
}
form.userForm,
form.gamesForm {
    width: 90%;
    display: flex;
    flex-direction: column;
}
button, 
input, 
select, 
textarea {
    box-sizing: border-box;
    font-family: 'Commissioner';
    font-size: 2rem;
    padding: 0;
    margin: 0;
}
.userForm label {
    font-family: 'Commissioner';
    margin-bottom: 5px;     /* Espacement entre le label et l'input */
    font-size: 2rem;
}
.userForm input, 
.userForm select, 
.userForm option {
    width: 100%; /* S'adapte à la largeur du parent */
    height: 54px;
    padding: 8px; /* Espacement interne */
    border: 3px solid #CA3D5C; /* Bordure simple */
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);   /* x, y, blur-radius, spread-radius, color*/
    border-radius: 20px; /* Coins arrondis */
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/********************************************* boutons "je valide", "quitter", "je m'inscris", ... */
.navigationButton {
    width: 180px;
    height: 50px;
    background-color: #F1A33B; 
    border: solid 2px #F5EA88;
    border-radius: 40px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);   /* x, y, blur-radius, color*/
    font-family: 'Commissioner';
    color: black;
    font-size: 2rem;
    font-weight: 400;               /* bold = 700*/
    margin-left: 94px; 
    margin-bottom: 10px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/********************************************* connexion */
/* bouton mot de passe oublié */
.passwordForgotten {
    font-family: 'Commissioner';
    width: 230px;
    background-color: #F4F5F6; 
    border: #F4F5F6;
    color: #CA3D5C;
    font-size: 1.7rem;
    font-weight: 400;               /* bold = 700*/
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/******************************* titre des pages */
.titlePage {
    z-index: 5;
    font-family: 'Commissioner';
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;    /* Aligner à gauche */
    width: 100%;                    /* S'assurer que l'élément occupe toute la largeur disponible */
    padding-left: 15%;              /* décalage à gauche */
    flex-direction: column;
}
.aliasDisplay {
    margin-left: 50px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/******************************* page de démarrage lors d'une inscription */
/*-  -  -  -  -  -  -  - formulaire des jeux à sélectionner */
.userForm option .menuDeroulant {
    width: 200px;
}
.gameLabelAndSelect {
    width: 100%; 
    min-height: 40px;       /* min-height permet de conserver la margin-bottom quand la hauteur de la balise augmente */
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.gameLabelAndSelect label {
    width:100px;
}
#chooseAGame { 
    width:100%;
    white-space:normal;     /* saut de ligne si texte trop long */
    min-height: 40px;
    height:fit-content;     /* s'adapte à la hauteur du texte */
    line-height: 1.2;       /* hauteur des lignes */
    padding-right: 50px;    /* pour laisser la place au chevron */
}
#levelGame,
#favoriteGame { 
    width:160px;
}
.gameLabelAndSelect label,
.gameLabelAndSelect select {
    font-family: 'Commissioner';
    font-size: 2rem;
}
.gameLabelAndSelect select{
    padding-left: 10px;
}
.gameLabelAndSelect select {
    border: 3px solid #0000FF;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
/*-  -  -  -  -  -  -  - dessin du bouton pour développer les listes */
select {
    appearance: none;       /* Masque le chevron natif */
    background-image: url("pictures/icons8-fleche-developper.png");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 28px 28px;
}
/*-  -  -  -  -  -  -  - images des jeux sélectionnés */
.dataGamesSelected .picture img {
    width: 60px;
    display: flex;
    border-radius: 5px;
}
/*-  -  -  -  -  -  -  - affichage de la listes des jeux sélectionnés*/
.dataGamesSelected {
    width: 80%;
    margin:  10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;     /* Sépare le groupe écriture à gauche et l'image à droite */
}
/*-  -  -  -  -  -  -  - bouton des jeux à sélectionner*/
.gamesForm button {
    width: 200px; 
    height: 40px;
    font-size: 1.7rem;
    background: #0000FF;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-width: 0;
    color: white;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/********************************************* footer */
footer {
    flex-shrink: 0;                 /* ne pas réduire la taille du header */
    display: flex; 
    position: relative;             /* pour le positionnement du texte */
    padding: 5px;
}
.footerFirstPage {
    background-color: #F1A33B; 
    border-radius: 0 0 10px 10px;       /* arrondir en bas */
}
.footerNewUserMainPage {
    background-color: #F4F5F6; 
    border-radius: 30px;
}
.footerMainPage {
    background-color: #ffffff; 
    border-radius: 30px;
}
/*-  -  -  -  -  -  -  - boutons du footer */
.bottomBand {
    position: sticky;                   /* Maintient l'élément lors du scroll */
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;                      /* Priorité d'affichage au-dessus des autres éléments */
    display: flex;
    justify-content: space-evenly;     /* même distance entre les bords et entre chaque icône */
    align-items: center;
}
.bottomBand button {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border-width: 0px 3px 4px 0px;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);   /* x, y, blur-radius, color*/
}
.bottomBand img {
    width: 40px;
}
.bottomBand .mainpageFooterButton button {
    background-color: #FDD863; 
    border-color: #FDD863;
}
.bottomBand .teamFooterButton button {
    background-color: #6E9FF7; 
    border-color: #6E9FF7;
}
.bottomBand .eventFooterButton button {
    background-color: #C93A54; 
    border-color: #C93A54;
}
.bottomBand .streamAndNewFooterButton button {
    background-color: #FDD863; 
    border-color: #FDD863;
}
.bottomBand .gamerFooterButton button {
    background-color: #6E9FF7; 
    border-color: #6E9FF7;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/****************************************** page principale */
.mainpage,
.gamersPage {
    width: 90%;
    display: flex;              /* l'élément devient flexible, il s'étire pour occuper toute la hauteur*/
    flex-direction: column;
    z-index: 5;
}
.mainpage > div {
    width: 100%;
    display: flex;              /* l'élément devient flexible, il s'étire pour occuper toute la hauteur*/
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #ffffff; 
    border-radius: 20px;
    border-width: 3px 5px 5px 3px;
    border-style: solid double double solid;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);   /* x, y, blur-radius, color*/
    padding: 10px;
}

/*-  -  -  -  -  -  -  - icône et titre des 4 activités */
.mainpage .title {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.mainpage .title img {
    height: 25px;
    align-self: center;
}
.mainpage .streamAndNews img {
    height: 20px;
}
.mainpage .title h2 {
    font-family: 'Commissioner';
    font-size: 3.2rem;
    margin: 0 10px 0 10px;
    color:#7d7d7d;
    font-weight:normal;
    padding: 0;
}
/*-  -  -  -  -  -  -  - boutons */
.mainpage form/*,
.gamersPage .gamerPageButton*/ {
    display: flex;
    justify-content: end;
}
.mainpage .teamButton,
.mainpage .eventButton,
.mainpage .streamNewButton,
.mainpage .gamerButton {
    width: 80px; 
    height: 30px;
    font-size: 1.7rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-width: 0;
    color: white;
}
.normalText {
    font-family: 'Commissioner';
    font-size: 2rem;
    padding: 0 5px;
    margin: 0 20px;
    background-color: #F4F5F6;

}
.boldText {
    font-family: 'Commissioner';
    font-size: 2rem;
    font-weight: 600;
    padding: 0 5px;
    margin: 0 20px;
    background-color: #F4F5F6;
    text-align: center;

}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/****************************************** page principale : groupes */
.mainpage .team {
    border-color: #6E9FF7;
}
.mainpage .teamButton {
        background: #0000FF;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/****************************************** page principale : évènements */
.mainpage .events {
    border-color: #C93A54;
}
.mainpage .eventButton {
    background: #C93A54;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/****************************************** page principale : stream et news */
.mainpage .streamAndNews {
    border-color: #FDD863;
}
.mainpage .streamNewButton {
    background: #EC9B33;
}
.new {
    margin-bottom: 10px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/****************************************** page : joueurs */
.mainpage .gamers {
    border-color: #6E9FF7;
}
.mainpage .gamerButton/*,
.gamersPage .gamerPageButton */{
    background: #0000FF;
}
.gamersPage > section {
    width: 100%;
    display: flex;              /* l'élément devient flexible, il s'étire pour occuper toute la hauteur*/
    flex-direction: column;
    margin-bottom: 20px;
    background-color: #ffffff; 
    border-radius: 20px;
    border-width: 3px 5px 5px 3px;
    border-style: solid double double solid;
    border-color: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);   /* x, y, blur-radius, color*/
    padding: 10px;
}
/*-  -  -  -  -  -  -  - boutons pour choisir une des listes de jeux */
.twoChoices {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.twoChoicesButton {
    background-color:#6e9ff780; /* #6E9FF7 avec de la transparence */
    font-family: 'Commissioner';
    font-size: 1.7rem;
    width: 155px;
    padding: 0 8px;
    border: 3px solid #6E9FF7;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
#criteriaGamesSelected,
#criteriaFavoriteGames,
#criteriaLevel,
#criteriaWeekdays,
#criteriaAge,
#criteriaPeriod,
#criteriaHourAM,
#criteriaHourPM {
    font-family: 'Commissioner';
    font-size: 2rem;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 3px solid #6E9FF7;
    box-shadow: 3px 3px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
#criteriaGamesSelected,
#criteriaFavoriteGames {
    display: flex;
    flex-direction: row;
    width: 350px; 
    min-height: 40px;       /* min-height permet de conserver la margin-bottom quand la hauteur de la balise augmente */
}
#criteriaLevel,
#criteriaWeekdays,
#criteriaPeriod,
#criteriaHourAM,
#criteriaHourPM,
 #criteriaAge{ 
    width:195px;
}
#criteriaHourAM,
#criteriaHourPM { 
    width:135px;
}
#criteriaHourAM,
#criteriaHourAMLabel,
#criteriaHourPM,
#criteriaHourPMLabel {
    display: none;
}
.selectionCriteria label {
    font-family: 'Commissioner';
    font-size: 1.7rem;
    margin-right: 10px;
}
/*
.gamersPage .gamerPageButton {
    width: 80px; 
    height: 30px;
    font-size: 1.7rem;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-width: 0;
    color: white;
}
    */
.moveToTheRight {
    display: flex;
    justify-content: end;
}
#playerButton {
    width: 80px; 
    height: 40px;
    margin-left: 250px;
    font-size: 1.7rem;
    background: #0000FF;
    box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border-width: 0;
    color: white;
}

/*
.gamerPageButton {
    padding: 0 15px 0 0;
}
*/
/*-  -  -  -  -  -  -  - */
/*-  -  -  -  -  -  -  - */
/*-  -         orange : #EC9B33              orange pâle : #FDD863
        bleu : #003598                bleu pâle : #6E9FF7
        rouge : #C93A54               rouge pâle : #D8768D
        gris : #F4F5F6
        
        
-  -  -  -  -  - */
